presence-flow-structure.json
[
  {
    "id": "f5468ca00e94e761",
    "type": "tab",
    "label": "Presence",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "a9fc19d16aeb2604",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "in living room?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.living_room_fp2_presence_sensor_1"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": false,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 300,
    "y": 780,
    "wires": [
      [
        "8db64b5100cf562c"
      ]
    ]
  },
  {
    "id": "0513abe7be784354",
    "type": "api-current-state",
    "z": "f5468ca00e94e761",
    "name": "",
    "server": "79544c2b.6ccc64",
    "version": 3,
    "outputs": 2,
    "halt_if": "playing",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "{{payload}}",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1170,
    "y": 720,
    "wires": [
      [
        "b18bf663de6e75f8"
      ],
      []
    ]
  },
  {
    "id": "b18bf663de6e75f8",
    "type": "api-call-service",
    "z": "f5468ca00e94e761",
    "name": "",
    "server": "79544c2b.6ccc64",
    "version": 7,
    "debugenabled": false,
    "action": "media_player.media_pause",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{payload}}"
    ],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "media_player",
    "service": "media_pause",
    "x": 1530,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "0623eda4603e934c",
    "type": "api-call-service",
    "z": "f5468ca00e94e761",
    "name": "",
    "server": "79544c2b.6ccc64",
    "version": 7,
    "debugenabled": false,
    "action": "media_player.media_play",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "{{payload}}"
    ],
    "labelId": [],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "media_player",
    "service": "media_play",
    "x": 1530,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "864e360888886cc6",
    "type": "api-current-state",
    "z": "f5468ca00e94e761",
    "name": "",
    "server": "79544c2b.6ccc64",
    "version": 3,
    "outputs": 2,
    "halt_if": "paused",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "{{payload}}",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1170,
    "y": 840,
    "wires": [
      [
        "0623eda4603e934c"
      ],
      []
    ]
  },
  {
    "id": "8db64b5100cf562c",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[\"media_player.living_room_apple_tv\"]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 780,
    "wires": [
      [
        "4014ccda493c2d3f"
      ]
    ]
  },
  {
    "id": "4014ccda493c2d3f",
    "type": "split",
    "z": "f5468ca00e94e761",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 770,
    "y": 780,
    "wires": [
      [
        "01cf083a8a9823a0"
      ]
    ]
  },
  {
    "id": "01cf083a8a9823a0",
    "type": "switch",
    "z": "f5468ca00e94e761",
    "name": "",
    "property": "state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "on",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 930,
    "y": 780,
    "wires": [
      [
        "0513abe7be784354"
      ],
      [
        "864e360888886cc6"
      ]
    ]
  },
  {
    "id": "13f8826377a58ba0",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "[\"light.laundry_room_light\"]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 980,
    "wires": [
      [
        "e7d05177b52666a0"
      ]
    ]
  },
  {
    "id": "105e2d16b9d3b606",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "laundry room motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.laundry_room_motion_sensor_occupancy"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "laundry_room",
        "valueType": "str"
      }
    ],
    "x": 320,
    "y": 980,
    "wires": [
      [
        "13f8826377a58ba0"
      ]
    ]
  },
  {
    "id": "e7d05177b52666a0",
    "type": "subflow:173c5faccfb73051",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 850,
    "y": 980,
    "wires": []
  },
  {
    "id": "cb60c10532399262",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "[\"light.office_ceiling_light\",\"switch.desk_grow_light_switch_3\"]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "off",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 1100,
    "wires": [
      [
        "83a8bc9439fcaef2"
      ]
    ]
  },
  {
    "id": "fa08d2d52dc07091",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "office motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.office_fp2_presence_sensor_1"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 290,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "83a8bc9439fcaef2",
    "type": "subflow:173c5faccfb73051",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 850,
    "y": 1100,
    "wires": []
  },
  {
    "id": "6962787d50ac97e7",
    "type": "subflow:173c5faccfb73051",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1150,
    "y": 1420,
    "wires": []
  },
  {
    "id": "2f42c6895aaf2794",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "[\"light.upstairs_hallway_lights\",\"light.flower_lamp\"]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "upstairs_hall",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 1420,
    "wires": [
      [
        "6962787d50ac97e7"
      ]
    ]
  },
  {
    "id": "badbdf75bf855c65",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "upstairs hallway motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.upstairs_hall_motion_sensor_occupancy"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "upstairs_hall",
        "valueType": "str"
      }
    ],
    "x": 330,
    "y": 1420,
    "wires": [
      [
        "8dc271a6a9f2ada9"
      ]
    ]
  },
  {
    "id": "0a6d7a72e642158d",
    "type": "inject",
    "z": "f5468ca00e94e761",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 300,
    "y": 220,
    "wires": [
      [
        "9f38acb29cf120e7"
      ]
    ]
  },
  {
    "id": "9f38acb29cf120e7",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"item_type\":\"area\",\"area\":\"bonus_room\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 220,
    "wires": [
      [
        "54694ef13ddf55ed"
      ]
    ]
  },
  {
    "id": "54694ef13ddf55ed",
    "type": "subflow:b0e3e1c3c40d9540",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 790,
    "y": 220,
    "wires": [
      [
        "7c6c092e7a31b118"
      ]
    ]
  },
  {
    "id": "7c6c092e7a31b118",
    "type": "split",
    "z": "f5468ca00e94e761",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1000,
    "y": 220,
    "wires": [
      [
        "22de19daf3c5e957"
      ]
    ]
  },
  {
    "id": "90431b2a05fc452c",
    "type": "join",
    "z": "f5468ca00e94e761",
    "name": "",
    "mode": "auto",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "useparts": true,
    "accumulate": true,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1390,
    "y": 220,
    "wires": [
      [
        "5134c06c2b04abfd"
      ]
    ]
  },
  {
    "id": "55653f952629f321",
    "type": "function",
    "z": "f5468ca00e94e761",
    "name": "function 1",
    "func": "const transformFunc = async (t, { color, brightness_pct }) => {\n    const payload = {\n        rgb_color: color.valueOf(),\n        brightness_pct: brightness_pct.valueOf(),\n    };\n\n    node.send({\n        payload,\n    });\n\n    // sleep for 1 minute:\n    node.status({\n        fill: \"yellow\",\n        shape: \"dot\",\n        text: \"sleeping...\",\n    });\n\n    await new Promise((resolve) => setTimeout(resolve, 60000));\n};\n\nconst tmp = new keyframesTs.CSSKeyframesAnimation({\n    duration: \"100ms\",\n});\n\ntmp.fromVars(\n    [\n        {\n            brightness_pct: 0,\n            color: \"1000k\",\n        },\n        {\n            brightness_pct: 100,\n            color: \"3500k\",\n        },\n    ],\n    transformFunc\n);\n\ntmp.play();\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "cronosjs",
        "module": "cronosjs"
      },
      {
        "var": "keyframesTs",
        "module": "keyframes.ts"
      }
    ],
    "x": 500,
    "y": 100,
    "wires": [
      [
        "3d5c5e31a3e9b837"
      ]
    ]
  },
  {
    "id": "6b9ea3ebbda7b89d",
    "type": "inject",
    "z": "f5468ca00e94e761",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 300,
    "y": 100,
    "wires": [
      [
        "55653f952629f321"
      ]
    ]
  },
  {
    "id": "3d5c5e31a3e9b837",
    "type": "debug",
    "z": "f5468ca00e94e761",
    "name": "debug 39",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 100,
    "wires": []
  },
  {
    "id": "5134c06c2b04abfd",
    "type": "debug",
    "z": "f5468ca00e94e761",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1620,
    "y": 220,
    "wires": []
  },
  {
    "id": "22de19daf3c5e957",
    "type": "ha-get-entities",
    "z": "f5468ca00e94e761",
    "name": "",
    "server": "79544c2b.6ccc64",
    "version": 1,
    "rules": [
      {
        "condition": "state_object",
        "property": "entity_id",
        "logic": "is",
        "value": "payload",
        "valueType": "msg"
      }
    ],
    "outputType": "random",
    "outputEmptyResults": false,
    "outputLocationType": "msg",
    "outputLocation": "payload",
    "outputResultsCount": 1,
    "x": 1190,
    "y": 220,
    "wires": [
      [
        "90431b2a05fc452c"
      ]
    ]
  },
  {
    "id": "b318488703f63220",
    "type": "subflow:173c5faccfb73051",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1470,
    "y": 1660,
    "wires": []
  },
  {
    "id": "c5c058fa98a8448e",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "plant room motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.plant_room_motion_sensor_occupancy"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "plant_room",
        "valueType": "str"
      }
    ],
    "x": 310,
    "y": 1660,
    "wires": [
      [
        "05c1aa5f3fb0c1aa"
      ]
    ]
  },
  {
    "id": "de424fcba575a736",
    "type": "subflow:b0e3e1c3c40d9540",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1030,
    "y": 1660,
    "wires": [
      [
        "ea4ad330fd832ec1"
      ]
    ]
  },
  {
    "id": "05c1aa5f3fb0c1aa",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"item_type\":\"area\",\"area\":\"plant_room\"}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "domains",
        "pt": "msg",
        "to": "[\"light\"]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 1660,
    "wires": [
      [
        "de424fcba575a736"
      ]
    ]
  },
  {
    "id": "805023e75fb61a78",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "bonus room motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.bonus_room_motion_sensor_occupancy"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "bonus_room",
        "valueType": "str"
      }
    ],
    "x": 320,
    "y": 1900,
    "wires": [
      [
        "7a6ed0d5609b7d22"
      ]
    ]
  },
  {
    "id": "750cb3052ce8f991",
    "type": "subflow:b0e3e1c3c40d9540",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1030,
    "y": 1900,
    "wires": [
      [
        "4a8ec37a8e1f6a4d"
      ]
    ]
  },
  {
    "id": "dbac8c7b84b121f6",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"item_type\":\"area\",\"area\":\"bonus_room\"}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "domains",
        "pt": "msg",
        "to": "[\"light\"]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 1900,
    "wires": [
      [
        "750cb3052ce8f991"
      ]
    ]
  },
  {
    "id": "bb62d6afe393b895",
    "type": "subflow:173c5faccfb73051",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1470,
    "y": 1900,
    "wires": []
  },
  {
    "id": "ea4ad330fd832ec1",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "$append(entities, [\"switch.grow_light_bookshelf_1_switch\"])",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1200,
    "y": 1660,
    "wires": [
      [
        "b318488703f63220"
      ]
    ]
  },
  {
    "id": "4a8ec37a8e1f6a4d",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "$append(\t   entities,\t   [\t       \"switch.bonus_room_grow_light_switch_6\",\t       \"switch.bonus_room_grow_light_switch_2\"\t   ]\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1200,
    "y": 1900,
    "wires": [
      [
        "bb62d6afe393b895"
      ]
    ]
  },
  {
    "id": "38bb81977878d3a4",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "stairwell motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.stairwell_motion_sensor_occupancy_2"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "upstairs_hall",
        "valueType": "str"
      }
    ],
    "x": 300,
    "y": 1480,
    "wires": [
      [
        "8dc271a6a9f2ada9"
      ]
    ]
  },
  {
    "id": "898c6074de049758",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "masther bathroom motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.master_bathroom_motion_sensor_occupancy"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "master_bathroom",
        "valueType": "str"
      }
    ],
    "x": 340,
    "y": 2480,
    "wires": [
      [
        "5eb251458563e0a3"
      ]
    ]
  },
  {
    "id": "fc38355f2794c1e4",
    "type": "subflow:b0e3e1c3c40d9540",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1030,
    "y": 2480,
    "wires": [
      [
        "b063d85a5b0e9b6e"
      ]
    ]
  },
  {
    "id": "a27d914ff9e0d53e",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"item_type\":\"area\",\"area\":\"master_bathroom\"}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "domains",
        "pt": "msg",
        "to": "[\"light\"]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 2480,
    "wires": [
      [
        "fc38355f2794c1e4"
      ]
    ]
  },
  {
    "id": "74c10506c3795d55",
    "type": "subflow:173c5faccfb73051",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1650,
    "y": 2480,
    "wires": []
  },
  {
    "id": "b063d85a5b0e9b6e",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1200,
    "y": 2480,
    "wires": [
      [
        "74c10506c3795d55"
      ]
    ]
  },
  {
    "id": "5eb251458563e0a3",
    "type": "api-current-state",
    "z": "f5468ca00e94e761",
    "name": "daytime set?",
    "server": "79544c2b.6ccc64",
    "version": 3,
    "outputs": 2,
    "halt_if": "day",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.day_status",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 610,
    "y": 2480,
    "wires": [
      [
        "a27d914ff9e0d53e"
      ],
      [
        "2d18f7b06e29a9b9"
      ]
    ]
  },
  {
    "id": "2d18f7b06e29a9b9",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "[\"light.master_bathroom_chili_pepper_lights\"]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 2560,
    "wires": [
      [
        "74c10506c3795d55"
      ]
    ]
  },
  {
    "id": "2d4934e4a4bbd97a",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "plant room motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.plant_room_motion_sensor_2"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "plant_room",
        "valueType": "str"
      }
    ],
    "x": 310,
    "y": 1720,
    "wires": [
      [
        "05c1aa5f3fb0c1aa"
      ]
    ]
  },
  {
    "id": "35fdd35a8578533a",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "guest bedroom room motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.guest_bedroom_motion_sensor"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "guest_bedroom",
        "valueType": "str"
      }
    ],
    "x": 340,
    "y": 2120,
    "wires": [
      [
        "14e5d41491f0f40a"
      ]
    ]
  },
  {
    "id": "b8f24fe555583a7e",
    "type": "subflow:b0e3e1c3c40d9540",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1190,
    "y": 2120,
    "wires": [
      [
        "22dec103fb5cb5a4"
      ]
    ]
  },
  {
    "id": "e8c9e92602c6c4af",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"item_type\":\"area\",\"area\":\"guest_bedroom\"}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "domains",
        "pt": "msg",
        "to": "[\"light\"]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 2120,
    "wires": [
      [
        "b8f24fe555583a7e"
      ]
    ]
  },
  {
    "id": "7e38b16a582f0666",
    "type": "subflow:173c5faccfb73051",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1590,
    "y": 2120,
    "wires": []
  },
  {
    "id": "22dec103fb5cb5a4",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "$append(\t   entities,\t   [\t       \"switch.bonus_room_grow_light_switch_6\",\t       \"switch.bonus_room_grow_light_switch_2\"\t   ]\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1360,
    "y": 2120,
    "wires": [
      [
        "7e38b16a582f0666"
      ]
    ]
  },
  {
    "id": "fd23f298dd52e8ac",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "masther bathroom motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.master_bathroom_motion_sensor_2"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "master_bathroom",
        "valueType": "str"
      }
    ],
    "x": 340,
    "y": 2540,
    "wires": [
      [
        "5eb251458563e0a3"
      ]
    ]
  },
  {
    "id": "24f7def55c14922c",
    "type": "ha-get-entities",
    "z": "f5468ca00e94e761",
    "name": "",
    "server": "79544c2b.6ccc64",
    "version": 1,
    "rules": [
      {
        "condition": "state_object",
        "property": "attributes.device_class",
        "logic": "is",
        "value": "motion",
        "valueType": "str"
      }
    ],
    "outputType": "array",
    "outputEmptyResults": false,
    "outputLocationType": "msg",
    "outputLocation": "payload",
    "outputResultsCount": 1,
    "x": 1050,
    "y": 420,
    "wires": [
      [
        "0f76751d6b580706"
      ]
    ]
  },
  {
    "id": "bc659da1d7e3e9a6",
    "type": "ha-get-entities",
    "z": "f5468ca00e94e761",
    "name": "",
    "server": "79544c2b.6ccc64",
    "version": 1,
    "rules": [
      {
        "condition": "state_object",
        "property": "attributes.device_class",
        "logic": "is",
        "value": "occupancy",
        "valueType": "str"
      }
    ],
    "outputType": "array",
    "outputEmptyResults": false,
    "outputLocationType": "msg",
    "outputLocation": "payload",
    "outputResultsCount": 1,
    "x": 1050,
    "y": 480,
    "wires": [
      [
        "0f76751d6b580706"
      ]
    ]
  },
  {
    "id": "0f76751d6b580706",
    "type": "split",
    "z": "f5468ca00e94e761",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1210,
    "y": 420,
    "wires": [
      [
        "94209148c5b7f146"
      ]
    ]
  },
  {
    "id": "3e6974509cc74c81",
    "type": "subflow:685bfaf1e94471c7",
    "z": "f5468ca00e94e761",
    "name": "set unknown",
    "x": 1670,
    "y": 420,
    "wires": [
      [
        "21e0fa9e2b81f120"
      ]
    ]
  },
  {
    "id": "94209148c5b7f146",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "state",
        "pt": "msg",
        "to": "unknown",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "tmpState",
        "pt": "msg",
        "to": "payload.state",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1520,
    "y": 420,
    "wires": [
      [
        "3e6974509cc74c81"
      ]
    ]
  },
  {
    "id": "21e0fa9e2b81f120",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "state",
        "pt": "msg",
        "to": "tmpState",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.entity_id",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1880,
    "y": 420,
    "wires": [
      [
        "1b71d88988b2ee9b"
      ]
    ]
  },
  {
    "id": "1b71d88988b2ee9b",
    "type": "subflow:685bfaf1e94471c7",
    "z": "f5468ca00e94e761",
    "name": "set original",
    "x": 2030,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "3860856df13d02e0",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "bonus room motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.bonus_room_motion_sensor_2"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "bonus_room",
        "valueType": "str"
      }
    ],
    "x": 320,
    "y": 1960,
    "wires": [
      [
        "7a6ed0d5609b7d22"
      ]
    ]
  },
  {
    "id": "b43bd237aef771c8",
    "type": "api-current-state",
    "z": "f5468ca00e94e761",
    "name": "home?",
    "server": "79544c2b.6ccc64",
    "version": 3,
    "outputs": 2,
    "halt_if": "home",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.home_status",
    "state_type": "str",
    "blockInputOverrides": true,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 640,
    "y": 420,
    "wires": [
      [
        "7baf3d68b3eab36b"
      ],
      []
    ]
  },
  {
    "id": "94bf4cffcdf80f08",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "daytime/home change?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "input_select.day_status",
        "scene.daytime_2",
        "scene.nighttime",
        "input_select.home_status"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "1",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": true,
    "ignorePrevStateUnknown": true,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": true,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "x": 320,
    "y": 420,
    "wires": [
      [
        "b43bd237aef771c8"
      ]
    ]
  },
  {
    "id": "80ab31165559da0b",
    "type": "api-current-state",
    "z": "f5468ca00e94e761",
    "name": "daytime set?",
    "server": "79544c2b.6ccc64",
    "version": 3,
    "outputs": 2,
    "halt_if": "day",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.day_status",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 810,
    "y": 2120,
    "wires": [
      [
        "e8c9e92602c6c4af"
      ],
      []
    ]
  },
  {
    "id": "8dc271a6a9f2ada9",
    "type": "api-current-state",
    "z": "f5468ca00e94e761",
    "name": "daytime set?",
    "server": "79544c2b.6ccc64",
    "version": 3,
    "outputs": 2,
    "halt_if": "day",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.day_status",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 610,
    "y": 1420,
    "wires": [
      [
        "2f42c6895aaf2794"
      ],
      []
    ]
  },
  {
    "id": "7baf3d68b3eab36b",
    "type": "debounce-advanced",
    "z": "f5468ca00e94e761",
    "time": "2",
    "timeunit": "s",
    "debouncetype": "trailing",
    "name": "",
    "x": 810,
    "y": 420,
    "wires": [
      [
        "24f7def55c14922c",
        "bc659da1d7e3e9a6"
      ]
    ]
  },
  {
    "id": "7c4206023c5b17f7",
    "type": "ha-get-entities",
    "z": "f5468ca00e94e761",
    "name": "",
    "server": "79544c2b.6ccc64",
    "version": 1,
    "rules": [
      {
        "condition": "state_object",
        "property": "entity_id",
        "logic": "is",
        "value": "binary_sensor.downstairs_bathroom_motion_sensor_2",
        "valueType": "str"
      }
    ],
    "outputType": "array",
    "outputEmptyResults": false,
    "outputLocationType": "msg",
    "outputLocation": "payload",
    "outputResultsCount": 1,
    "x": 1050,
    "y": 360,
    "wires": [
      [
        "0f76751d6b580706"
      ]
    ]
  },
  {
    "id": "fb6be089f081b8b3",
    "type": "switch",
    "z": "f5468ca00e94e761",
    "name": "",
    "property": "payload.state",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1350,
    "y": 520,
    "wires": [
      [
        "94209148c5b7f146"
      ]
    ]
  },
  {
    "id": "73cff6090395df46",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "guest bathroom motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.guest_bathroom_motion_sensor"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "guest_bathroom",
        "valueType": "str"
      }
    ],
    "x": 330,
    "y": 2260,
    "wires": [
      [
        "1692ab23efd92bd4"
      ]
    ]
  },
  {
    "id": "66eba871e6ffcf61",
    "type": "subflow:b0e3e1c3c40d9540",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1030,
    "y": 2260,
    "wires": [
      [
        "d695506679f17975"
      ]
    ]
  },
  {
    "id": "0f57f54766384243",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"item_type\":\"area\",\"area\":\"guest_bathroom\"}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "domains",
        "pt": "msg",
        "to": "[\"light\"]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 2260,
    "wires": [
      [
        "66eba871e6ffcf61"
      ]
    ]
  },
  {
    "id": "4fc9e2c157979f62",
    "type": "subflow:173c5faccfb73051",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1650,
    "y": 2260,
    "wires": []
  },
  {
    "id": "d695506679f17975",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1200,
    "y": 2260,
    "wires": [
      [
        "4fc9e2c157979f62"
      ]
    ]
  },
  {
    "id": "1692ab23efd92bd4",
    "type": "api-current-state",
    "z": "f5468ca00e94e761",
    "name": "daytime set?",
    "server": "79544c2b.6ccc64",
    "version": 3,
    "outputs": 2,
    "halt_if": "day",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.day_status",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 610,
    "y": 2260,
    "wires": [
      [
        "0f57f54766384243"
      ],
      [
        "41d9764be60926e2"
      ]
    ]
  },
  {
    "id": "41d9764be60926e2",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "[\"light.guest_bathroom_peppa_pig_lights\"]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 2340,
    "wires": [
      [
        "4fc9e2c157979f62"
      ]
    ]
  },
  {
    "id": "7f4e5e93963c058c",
    "type": "subflow:173c5faccfb73051",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1650,
    "y": 1240,
    "wires": []
  },
  {
    "id": "850d40af73656046",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "[\"light.downstairs_bathroom_chili_pepper_lights\"]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 1320,
    "wires": [
      [
        "7f4e5e93963c058c"
      ]
    ]
  },
  {
    "id": "1c2a29c97ac1c75b",
    "type": "api-current-state",
    "z": "f5468ca00e94e761",
    "name": "daytime set?",
    "server": "79544c2b.6ccc64",
    "version": 3,
    "outputs": 2,
    "halt_if": "day",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.day_status",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 610,
    "y": 1240,
    "wires": [
      [
        "e2a0a1a1e0dbe7a7"
      ],
      [
        "850d40af73656046"
      ]
    ]
  },
  {
    "id": "5b4ca4a35f590d41",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "downstairs bathroom motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.downstairs_bathroom_motion_sensor_occupancy"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "downstairs_bathroom",
        "valueType": "str"
      }
    ],
    "x": 340,
    "y": 1240,
    "wires": [
      [
        "1c2a29c97ac1c75b"
      ]
    ]
  },
  {
    "id": "61dc59d1d7d8efd6",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "downstairs bathroom motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.downstairs_bathroom_motion_sensor_2"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "downstairs_bathroom",
        "valueType": "str"
      }
    ],
    "x": 340,
    "y": 1300,
    "wires": [
      [
        "1c2a29c97ac1c75b"
      ]
    ]
  },
  {
    "id": "bde2504fa4adcca3",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "garage motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.garage_motion_sensor"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "garage",
        "valueType": "str"
      }
    ],
    "x": 300,
    "y": 2760,
    "wires": [
      [
        "2e8a6c6e2c549847"
      ]
    ]
  },
  {
    "id": "a2bfa65fd0b28b4b",
    "type": "subflow:b0e3e1c3c40d9540",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1030,
    "y": 2760,
    "wires": [
      [
        "06bd9c4c1a37300d"
      ]
    ]
  },
  {
    "id": "2e8a6c6e2c549847",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"item_type\":\"area\",\"area\":\"garage\"}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "domains",
        "pt": "msg",
        "to": "[\"light\"]",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 2760,
    "wires": [
      [
        "a2bfa65fd0b28b4b"
      ]
    ]
  },
  {
    "id": "15b3ce77b691cec0",
    "type": "subflow:173c5faccfb73051",
    "z": "f5468ca00e94e761",
    "name": "",
    "x": 1450,
    "y": 2760,
    "wires": []
  },
  {
    "id": "06bd9c4c1a37300d",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "$append(\t   entities,\t   [\t       \"switch.bonus_room_grow_light_switch_6\",\t       \"switch.bonus_room_grow_light_switch_2\"\t   ]\t)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "coolDown",
        "pt": "msg",
        "to": "1800",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1200,
    "y": 2760,
    "wires": [
      [
        "15b3ce77b691cec0"
      ]
    ]
  },
  {
    "id": "e2a0a1a1e0dbe7a7",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "[\"light.downstairs_bathroom_light\"]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 1240,
    "wires": [
      [
        "7f4e5e93963c058c"
      ]
    ]
  },
  {
    "id": "7a6ed0d5609b7d22",
    "type": "api-current-state",
    "z": "f5468ca00e94e761",
    "name": "daytime set?",
    "server": "79544c2b.6ccc64",
    "version": 3,
    "outputs": 2,
    "halt_if": "day",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_select.day_status",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 610,
    "y": 1900,
    "wires": [
      [
        "dbac8c7b84b121f6"
      ],
      [
        "999e2d0544d44cb8"
      ]
    ]
  },
  {
    "id": "999e2d0544d44cb8",
    "type": "change",
    "z": "f5468ca00e94e761",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "entities",
        "pt": "msg",
        "to": "[\"light.hey_lamp_2_2\"]",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "state",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 2000,
    "wires": [
      []
    ]
  },
  {
    "id": "76000737aa014a12",
    "type": "inject",
    "z": "f5468ca00e94e761",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 300,
    "y": 520,
    "wires": [
      [
        "28edd8deb79fda75",
        "7c4206023c5b17f7",
        "24f7def55c14922c",
        "bc659da1d7e3e9a6"
      ]
    ]
  },
  {
    "id": "14e5d41491f0f40a",
    "type": "api-current-state",
    "z": "f5468ca00e94e761",
    "name": "guest mode?",
    "server": "79544c2b.6ccc64",
    "version": 3,
    "outputs": 2,
    "halt_if": "on",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.guest_mode",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [],
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 610,
    "y": 2120,
    "wires": [
      [],
      [
        "80ab31165559da0b"
      ]
    ]
  },
  {
    "id": "418ea3834788dede",
    "type": "server-state-changed",
    "z": "f5468ca00e94e761",
    "name": "garage motion?",
    "server": "79544c2b.6ccc64",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.ratgdov25i_4b1c3b_motion"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "milliseconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": true,
    "outputProperties": [
      {
        "property": "state",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "garage",
        "valueType": "str"
      }
    ],
    "x": 300,
    "y": 2820,
    "wires": [
      [
        "2e8a6c6e2c549847"
      ]
    ]
  },
  {
    "id": "28edd8deb79fda75",
    "type": "ha-get-entities",
    "z": "f5468ca00e94e761",
    "name": "",
    "server": "79544c2b.6ccc64",
    "version": 1,
    "rules": [
      {
        "condition": "state_object",
        "property": "entity_id",
        "logic": "is",
        "value": "binary_sensor.downstairs_bathroom_motion_sensor_occupancy",
        "valueType": "str"
      }
    ],
    "outputType": "array",
    "outputEmptyResults": false,
    "outputLocationType": "msg",
    "outputLocation": "payload",
    "outputResultsCount": 1,
    "x": 1050,
    "y": 320,
    "wires": [
      [
        "0f76751d6b580706"
      ]
    ]
  }
]
