node-red/.flows.json.backup
[{"id":"98c27ff6.35533","type":"tab","label":"Doors Status","disabled":false,"info":""},{"id":"4f871e90.29a61","type":"tab","label":"Cache States","disabled":false,"info":""},{"id":"d1907b26.bd52e8","type":"tab","label":"Rise n' Shine","disabled":false,"info":""},{"id":"79544c2b.6ccc64","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"eed41b44.0c507","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"587d8b4e.0cbfec","type":"api-call-service","z":"98c27ff6.35533","name":"","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_fff","entityId":"","data":"{\"message\":\"{{ payload }}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":990,"y":260,"wires":[[]]},{"id":"3c30a8fb.902b6","type":"server-state-changed","z":"98c27ff6.35533","name":"front door state","server":"79544c2b.6ccc64","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ecolink_door_window_sensor_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":100,"y":260,"wires":[["6d00805d.48533"],["6d00805d.48533"]]},{"id":"6d00805d.48533","type":"function","z":"98c27ff6.35533","name":"","func":"//@ts-expect-error\nconst message = msg;\nconst { entity_id: entityId, attributes, state } = message.data.new_state;\nconst trimSensorName = function (sensorName) {\n    return sensorName.replace(new RegExp(\"sensor\", \"i\"), \"\").trim().toLowerCase();\n};\nconst getTimeString = function () {\n    const timeObject = new Date(Date.now());\n    const options = {\n        year: \"numeric\",\n        month: \"long\",\n        day: \"numeric\",\n        weekday: \"long\",\n        hour: \"numeric\",\n        minute: \"numeric\",\n        second: \"numeric\",\n        hour12: false,\n        timeZone: \"America/New_York\"\n    };\n    const locale = \"en-US\";\n    return timeObject.toLocaleString(locale, options);\n};\nconst doorName = trimSensorName(attributes.friendly_name);\nconst doorState = message.payload === \"on\" ? \"opened\" : \"closed\";\nconst time = getTimeString();\nconst payload = Object.assign({ data: {\n        title: `${doorName} was ${doorState}`,\n        message: `The ${doorName} was ${doorState} at ${time}`\n    } }, { doorName, doorState, time });\nmessage.payload = payload;\n//@ts-ignore\nreturn message;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["587d8b4e.0cbfec","8cc40c2c.be66d8","23d3878a.c8f9b"]]},{"id":"8cc40c2c.be66d8","type":"api-call-service","z":"98c27ff6.35533","name":"","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_fff2","entityId":"","data":"{\"message\":\"{{ payload }}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":980,"y":320,"wires":[[]]},{"id":"f1339518.4ecb68","type":"server-state-changed","z":"98c27ff6.35533","name":"back door state","server":"79544c2b.6ccc64","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ecolink_door_window_sensor_sensor_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":100,"y":320,"wires":[["6d00805d.48533"],["6d00805d.48533"]]},{"id":"981b52aa.9d16b8","type":"ha-wait-until","z":"98c27ff6.35533","name":"","server":"79544c2b.6ccc64","outputs":2,"entityId":"{{ data.entity_id }}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":false,"blockInputOverrides":false,"x":440,"y":380,"wires":[[],["95041b08.ec95"]]},{"id":"95041b08.ec95","type":"function","z":"98c27ff6.35533","name":"","func":"//@ts-expect-error\nconst message = msg;\n//@ts-expect-error\nconst { doorName, doorState, time: closeTime } = message.payload;\nconst payload = {\n    data: {\n        title: `${doorName} not closed!`,\n        message: `The ${doorName} hasn't been closed since ${closeTime}!`\n    }\n};\nmessage.payload = payload;\n//@ts-ignore\nreturn message;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":440,"wires":[["587d8b4e.0cbfec","8cc40c2c.be66d8"]]},{"id":"23d3878a.c8f9b","type":"switch","z":"98c27ff6.35533","name":"","property":"payload.doorState","propertyType":"msg","rules":[{"t":"eq","v":"opened","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":320,"wires":[["981b52aa.9d16b8"]]},{"id":"aacec64e.aa1d48","type":"change","z":"4f871e90.29a61","name":"get cached States","rules":[{"t":"set","p":"payload","pt":"msg","to":"cachedStates","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":440,"wires":[["ff4ac2d6.2746f"]]},{"id":"ff4ac2d6.2746f","type":"split","z":"4f871e90.29a61","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1210,"y":440,"wires":[["45f413bc.da9e04"]]},{"id":"45f413bc.da9e04","type":"api-call-service","z":"4f871e90.29a61","name":"restore state","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":440,"wires":[[]]},{"id":"14303710.68aa19","type":"function","z":"4f871e90.29a61","name":"cache house state","func":"//@ts-expect-error\nconst message = msg;\nconst entities = message.payload;\nconst switchParams = [];\nconst lightParams = [\n    \"transition\",\n    \"rgb_color\",\n    // \"color_name\",\n    // \"hs_color\",\n    // \"xy_color\",\n    \"color_temp\",\n    // \"kelvin\",\n    // \"white_value\",\n    \"brightness\",\n    \"brightness_step\",\n    \"brightness_step_pct\",\n    \"profile\",\n    \"flash\",\n    \"effect\"\n];\nconst fanParams = [\"speed\"];\nconst domainServiceParams = {\n    switch: {\n        turn_on: switchParams,\n        turn_off: switchParams\n    },\n    light: {\n        turn_on: lightParams,\n        turn_off: lightParams\n    },\n    fan: {\n        turn_on: fanParams,\n        turn_off: fanParams\n    },\n    climate: {\n        set_temperature: [\"temperature\", \"hvac_mode\"],\n        set_preset_mode: [\"preset_mode\"]\n    },\n    media_player: {\n        turn_on: [],\n        turn_off: [],\n        media_play: [],\n        media_pause: []\n    }\n};\nconst filterAttributes = function (domain, service, attributes) {\n    var _a;\n    let data = {};\n    const allowedAttributes = (_a = domainServiceParams[domain][service]) !== null && _a !== void 0 ? _a : [];\n    Object.keys(attributes).forEach((key) => {\n        if (allowedAttributes.indexOf(key) !== -1) {\n            data[key] = attributes[key];\n        }\n    });\n    return data;\n};\nconst mapDomainToService = function (entity, domain) {\n    switch (domain) {\n        case \"switch\":\n        case \"light\":\n        case \"fan\": {\n            return `turn_${entity.state}`;\n        }\n        case \"media_player\": {\n            switch (entity.state) {\n                case \"standby\":\n                case \"off\":\n                    return \"turn_off\";\n                case \"on\":\n                    return \"turn_on\";\n                case \"playing\":\n                    return \"media_play\";\n                case \"paused\":\n                    return \"media_pause\";\n                default:\n                    return \"turn_off\";\n            }\n        }\n        case \"climate\": {\n            return \"set_temperature\";\n        }\n        default: {\n            return \"turn_off\";\n        }\n    }\n};\nconst cachedStates = entities.map((e) => {\n    const domain = e.entity_id.split(\".\")[0];\n    const service = mapDomainToService(e, domain);\n    const state = {\n        domain: domain,\n        service: service,\n        data: Object.assign({ entity_id: e.entity_id }, filterAttributes(domain, service, e.attributes))\n    };\n    return state;\n});\nconst awayPayload = cachedStates.map((state) => {\n    const { domain } = state;\n    const { entity_id } = state.data;\n    const payload = { domain, data: { entity_id } };\n    switch (domain) {\n        case \"switch\":\n        case \"light\":\n        case \"media_player\": {\n            payload[\"service\"] = \"turn_off\";\n            break;\n        }\n        case \"fan\": {\n            payload[\"service\"] = \"turn_on\";\n            payload.data[\"speed\"] = \"low\";\n            break;\n        }\n        case \"climate\": {\n            payload[\"service\"] = \"set_preset_mode\";\n            payload.data[\"preset_mode\"] = \"away\";\n            break;\n        }\n        default: {\n            break;\n        }\n    }\n    return payload;\n});\n//@ts-ignore\nflow.set(\"cachedStates\", cachedStates);\nmessage.payload = awayPayload;\n//@ts-ignore\nreturn message;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":220,"wires":[["903042a6.670338"]]},{"id":"2ed2b2d3.0c552e","type":"ha-get-entities","z":"4f871e90.29a61","server":"79544c2b.6ccc64","name":"get devices","rules":[{"property":"entity_id","logic":"is","value":"(light|switch|fan|media_player)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":790,"y":160,"wires":[["14303710.68aa19"]]},{"id":"1bf3815d.70d157","type":"api-call-service","z":"4f871e90.29a61","name":"toggle off","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"msg.payload.domain","service":"msg.payload.service","entityId":"msg.payload.data.entity_id","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1380,"y":220,"wires":[[]]},{"id":"903042a6.670338","type":"split","z":"4f871e90.29a61","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1230,"y":220,"wires":[["1bf3815d.70d157"]]},{"id":"5d075e2e.1f3bd8","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_away","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":220,"wires":[["2ed2b2d3.0c552e","dd9b1485.51976"]]},{"id":"17890fed.b998b8","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_away","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":440,"wires":[["aacec64e.aa1d48","958bd361.0ad168"]]},{"id":"958bd361.0ad168","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.my_ecobee","data":"{\"preset_mode\":\"home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":520,"wires":[[]]},{"id":"b66b3e87.d1cee","type":"server-state-changed","z":"4f871e90.29a61","name":"home status","server":"79544c2b.6ccc64","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.mike","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":90,"y":220,"wires":[["9fb8d2b1.bc6ae8"],["17890fed.b998b8"]]},{"id":"9fb8d2b1.bc6ae8","type":"ha-wait-until","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","outputs":2,"entityId":"msg.data.entity_id","entityIdFilterType":"exact","property":"state","comparator":"is","value":"away","valueType":"str","timeout":"2","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":false,"blockInputOverrides":false,"x":300,"y":220,"wires":[[],["5d075e2e.1f3bd8"]]},{"id":"dd9b1485.51976","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.my_ecobee","data":"{\"preset_mode\":\"away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":240,"wires":[[]]},{"id":"c4200edd.680af8","type":"ha-get-entities","z":"d1907b26.bd52e8","server":"79544c2b.6ccc64","name":"get lights and switches","rules":[{"property":"entity_id","logic":"is","value":"(light|switch)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":330,"y":280,"wires":[["52b44c07.b8f8fc"]]},{"id":"52b44c07.b8f8fc","type":"split","z":"d1907b26.bd52e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":280,"wires":[["41d258b1.f5c728"]]},{"id":"1b6dce15.fc09e2","type":"api-call-service","z":"d1907b26.bd52e8","name":"turn on","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"msg.payload.data.entity_id","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":true,"x":860,"y":280,"wires":[[]]},{"id":"41d258b1.f5c728","type":"function","z":"d1907b26.bd52e8","name":"","func":"msg.payload.data = {entity_id: msg.payload.entity_id}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":280,"wires":[["1b6dce15.fc09e2"]]},{"id":"eb060cef.051908","type":"sunrise","z":"d1907b26.bd52e8","name":"","lat":"35.81143254565226","lon":"-78.69226005638284","start":"sunrise","end":"sunset","soff":0,"eoff":0,"x":70,"y":280,"wires":[[],[]]}]