node-red/flows.json
[{"id":"4f871e90.29a61","type":"tab","label":"Home","disabled":false,"info":""},{"id":"fbed070118aafd67","type":"tab","label":"Is Home","disabled":false,"info":"","env":[]},{"id":"88965fe6e95d05d9","type":"tab","label":"Thermostat Time of Use","disabled":false,"info":"","env":[]},{"id":"98c27ff6.35533","type":"tab","label":"Doors Status","disabled":false,"info":""},{"id":"85bb4851.f21a8","type":"tab","label":"Rise 'n Shine","disabled":false,"info":""},{"id":"f97ca533678b9087","type":"tab","label":"Battery Status","disabled":false,"info":"","env":[]},{"id":"dc6c7d82059d5798","type":"subflow","name":"Cache States Subflow","info":"","category":"","in":[{"x":800,"y":300,"wires":[{"id":"56f025da62a8d8d2"}]}],"out":[{"x":1880,"y":400,"wires":[{"id":"7e5af03335f043f5","port":0}]},{"x":1880,"y":200,"wires":[{"id":"1a5c3203a07c6ee2","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"f03f223ebee4f2c1","type":"subflow","name":"Cache States Func","info":"","category":"","in":[{"x":100,"y":160,"wires":[{"id":"274530262b021e2f"}]}],"out":[{"x":460,"y":160,"wires":[{"id":"274530262b021e2f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"79544c2b.6ccc64","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"eed41b44.0c507","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c5c5002.bcdab","type":"server","name":"hassio","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"cf1a8b1e.5bfb5","type":"server","name":"hassio","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"214b25c1.8d3f0a","type":"server","name":"hassio","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"cc2ae6f9.bf95f","type":"server","name":"hassio","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"11b1a6e9.59fe11","type":"server","name":"Home Assistant","version":5,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"0f0bd6e74f18a17d","type":"chronos-config","name":"Home","timezone":"","sunPositions":[]},{"id":"f15392eec802b2cd","type":"change","z":"dc6c7d82059d5798","name":"get cached States","rules":[{"t":"set","p":"payload","pt":"msg","to":"cachedStates","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":200,"wires":[["b7edbc05c9fcc553"]]},{"id":"b7edbc05c9fcc553","type":"split","z":"dc6c7d82059d5798","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1490,"y":200,"wires":[["1a5c3203a07c6ee2"]]},{"id":"aa91137ac6961ac9","type":"split","z":"dc6c7d82059d5798","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1490,"y":400,"wires":[["7e5af03335f043f5"]]},{"id":"7e5af03335f043f5","type":"api-call-service","z":"dc6c7d82059d5798","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":400,"wires":[[]]},{"id":"1a5c3203a07c6ee2","type":"api-call-service","z":"dc6c7d82059d5798","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":200,"wires":[[]]},{"id":"547893e3aaf427ba","type":"subflow:f03f223ebee4f2c1","z":"dc6c7d82059d5798","name":"","x":1310,"y":400,"wires":[["aa91137ac6961ac9","f3b79458ccde0628"]]},{"id":"f3b79458ccde0628","type":"change","z":"dc6c7d82059d5798","name":"","rules":[{"t":"set","p":"cachedStates","pt":"flow","to":"cachedStates","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":340,"wires":[[]]},{"id":"c7373d5285062a8b","type":"switch","z":"dc6c7d82059d5798","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":300,"wires":[["f15392eec802b2cd"],["547893e3aaf427ba"]]},{"id":"56f025da62a8d8d2","type":"state-machine","z":"dc6c7d82059d5798","name":"","triggerProperty":"action","triggerPropertyType":"msg","stateProperty":"state","statePropertyType":"msg","initialDelay":"0","persistOnReload":true,"outputStateChangeOnly":true,"throwException":false,"states":["start","off","on"],"transitions":[{"name":"off","from":"on","to":"off"},{"name":"on","from":"off","to":"on"},{"name":"off","from":"start","to":"off"},{"name":"on","from":"start","to":"on"}],"x":940,"y":300,"wires":[["c7373d5285062a8b"]]},{"id":"274530262b021e2f","type":"function","z":"f03f223ebee4f2c1","name":"cache house state","func":"const blacklistedEntities = [\"son_of_toast\"];\nconst setIfExists = (to, from, key) => {\n    const value = from[key];\n    if (value != undefined) {\n        to[key] = value;\n        return true;\n    }\n    else {\n        return false;\n    }\n};\nconst normalizeIncludes = (s1, s2) => {\n    return s1.toLowerCase().includes(s2.toLowerCase());\n};\n//@ts-expect-error\nconst message = msg;\nconst entities = message.payload.filter((e) => {\n    const { entity_id, state } = e;\n    const whitelisted = blacklistedEntities.find((value) => normalizeIncludes(entity_id, value)) ==\n        undefined;\n    return whitelisted && state !== \"unavailable\";\n});\nconst lightAttributes = [\"brightness\"];\nconst fanAttributes = [\"percentage\"];\nconst climateAttributes = [\"preset_mode\"];\nconst domains = [\"light\", \"switch\", \"fan\", \"climate\", \"lock\", \"cover\"];\n/**\n * Filters a list of attributes based on valid state attributes of a given entity.\n * These are the states that we'll save when caching.\n *\n * @param domain entity domain.\n * @param service entity service.\n * @param attributes entity attributes to cache.\n */\nconst filterAttributes = function (domain, service, attributes) {\n    let data = {};\n    switch (domain) {\n        case \"light\": {\n            const colorMode = attributes[\"color_mode\"];\n            if (attributes[colorMode] != undefined) {\n                data[colorMode] = attributes[colorMode];\n            }\n            lightAttributes.forEach((x) => setIfExists(data, attributes, x));\n            break;\n        }\n        case \"fan\": {\n            fanAttributes.forEach((x) => setIfExists(data, attributes, x));\n            break;\n        }\n        case \"climate\": {\n            climateAttributes.forEach((x) => setIfExists(data, attributes, x));\n            break;\n        }\n    }\n    return data;\n};\n/**\n * Maps an input entity's domain to an appropriate service for\n * later caching.\n *\n * light -> turn_[on, off], for example.\n *\n * @param entity input hass entity.\n * @param domain domain thereof.\n */\nconst mapDomainToService = function (entity, domain) {\n    switch (domain) {\n        case \"switch\":\n        case \"light\":\n        case \"fan\": {\n            return `turn_${entity.state}`;\n        }\n        case \"media_player\": {\n            switch (entity.state) {\n                case \"standby\":\n                case \"off\":\n                    return \"turn_off\";\n                case \"on\":\n                    return \"turn_on\";\n                case \"playing\":\n                    return \"media_play\";\n                case \"paused\":\n                    return \"media_pause\";\n                default:\n                    return \"turn_off\";\n            }\n        }\n        case \"lock\": {\n            switch (entity.state) {\n                case \"locked\":\n                    return \"lock\";\n                case \"unlocked\":\n                    return \"unlock\";\n            }\n            break;\n        }\n        case \"cover\": {\n            switch (entity.state) {\n                case \"open\":\n                    return \"open_cover\";\n                case \"closed\":\n                    return \"close_cover\";\n            }\n            break;\n        }\n        case \"climate\": {\n            return \"set_preset_mode\";\n        }\n    }\n    return undefined;\n};\n// create the cached state object that will be saved to the global flow.\nconst cachedStates = entities\n    .map((e) => {\n    const domain = e.entity_id.split(\".\")[0];\n    const service = mapDomainToService(e, domain);\n    if (!domains.includes(domain) || service === undefined) {\n        return undefined;\n    }\n    const serviceCall = {\n        domain: domain,\n        service: service,\n        data: Object.assign({ entity_id: e.entity_id, state: e.state }, filterAttributes(domain, service, e.attributes))\n    };\n    return serviceCall;\n})\n    .filter((x) => x !== undefined);\n// We only cache the states we need to - currently active entities, or states.\nconst activeStates = cachedStates.filter((serviceCall) => {\n    const { domain } = serviceCall;\n    const { state } = serviceCall.data;\n    switch (domain) {\n        case \"switch\":\n        case \"light\": {\n            return state === \"on\";\n        }\n        case \"lock\": {\n            return state === \"unlocked\";\n        }\n        case \"cover\": {\n            return state === \"open\";\n        }\n        case \"climate\": {\n            return state !== \"off\";\n        }\n    }\n    return true;\n});\ncachedStates.forEach((x) => {\n    delete x.data.state;\n});\n// Creates a set of away states that we'll entry once our away condition is met within hass.\n// For example, we turn off all of the cached lights and switches, and turn on all the fans to low.\nconst awayPayload = activeStates\n    .map((serviceCall) => {\n    const { domain } = serviceCall;\n    const { entity_id } = serviceCall.data;\n    const payload = { domain, data: { entity_id } };\n    switch (domain) {\n        case \"switch\":\n        case \"light\": {\n            payload[\"service\"] = \"turn_off\";\n            return payload;\n        }\n        case \"fan\": {\n            payload[\"service\"] = \"turn_on\";\n            payload.data[\"percentage\"] = 100 / 3;\n            return payload;\n        }\n        case \"climate\": {\n            payload[\"service\"] = \"set_preset_mode\";\n            payload.data[\"preset_mode\"] = \"away\";\n            return payload;\n        }\n        case \"lock\": {\n            payload[\"service\"] = \"lock\";\n            return payload;\n        }\n        case \"cover\": {\n            payload[\"service\"] = \"close_cover\";\n            return payload;\n        }\n    }\n})\n    .flat(); // we may need to support multiple payload returns per state.\n//@ts-ignore\nflow.set(\"cachedStates\", cachedStates);\nmessage.cachedStates = cachedStates;\nmessage.entities = message.payload;\n// the next node will execute this payload.\nmessage.payload = awayPayload;\n//@ts-ignore\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":160,"wires":[[]]},{"id":"2ed2b2d3.0c552e","type":"ha-get-entities","z":"4f871e90.29a61","name":"get devices","server":"79544c2b.6ccc64","version":0,"rules":[{"property":"entity_id","logic":"is","value":"(light|switch|fan|climate|lock|cover)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":730,"y":520,"wires":[["03249c45bcec909b"]]},{"id":"1d58642407eb3671","type":"inject","z":"4f871e90.29a61","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":640,"wires":[["2ed2b2d3.0c552e"]]},{"id":"5a1e64fd85bf249f","type":"api-current-state","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2140,"y":320,"wires":[["3201aa7768781398"]]},{"id":"d6912d204418c6e6","type":"subflow:dc6c7d82059d5798","z":"4f871e90.29a61","name":"","x":1240,"y":400,"wires":[[],["1785d494c970a380"]]},{"id":"ec7a7c4fc1be7da4","type":"change","z":"4f871e90.29a61","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":280,"wires":[["d6912d204418c6e6"]]},{"id":"03249c45bcec909b","type":"change","z":"4f871e90.29a61","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":520,"wires":[["d6912d204418c6e6"]]},{"id":"e44783c4537014f3","type":"inject","z":"4f871e90.29a61","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":200,"wires":[["ec7a7c4fc1be7da4"]]},{"id":"3201aa7768781398","type":"switch","z":"4f871e90.29a61","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"below_horizon","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2350,"y":320,"wires":[["c1e287b947537975","3bca1f11d10bd3f2"],["0d7f78bb15918f0b"]]},{"id":"a3f085d0a5e82220","type":"ha-get-entities","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":0,"rules":[{"property":"entity_id","logic":"is","value":"(light)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":2610,"y":140,"wires":[["ccc04038c14b7fb6"]]},{"id":"95395cb144b42420","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.garage_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2130,"y":140,"wires":[[]]},{"id":"d639c2df2b4e5429","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"lock","service":"unlock","areaId":[],"deviceId":[],"entityId":["lock.back_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2110,"y":200,"wires":[[]]},{"id":"557c4c87a4678b4c","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"climate","service":"set_preset_mode","areaId":[],"deviceId":[],"entityId":["climate.downstairs","climate.upstairs"],"data":"{\"preset_mode\": \"home\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2150,"y":260,"wires":[[]]},{"id":"ccc04038c14b7fb6","type":"split","z":"4f871e90.29a61","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2730,"y":140,"wires":[["08330f9460d351da"]]},{"id":"08330f9460d351da","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2850,"y":140,"wires":[[]]},{"id":"7da8b14f910f9672","type":"switch","z":"4f871e90.29a61","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":1910,"y":240,"wires":[["95395cb144b42420","d639c2df2b4e5429","557c4c87a4678b4c","5a1e64fd85bf249f"]]},{"id":"c93a5e386cbc8e6f","type":"change","z":"4f871e90.29a61","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":240,"wires":[["7da8b14f910f9672"]]},{"id":"b53023a6685d9068","type":"delay","z":"4f871e90.29a61","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1620,"y":240,"wires":[["c93a5e386cbc8e6f"]]},{"id":"332cfe3d60495256","type":"server-state-changed","z":"4f871e90.29a61","name":"away?","server":"79544c2b.6ccc64","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.home_away","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":340,"wires":[["f53fe7b2806d0f15"],["f53fe7b2806d0f15"]]},{"id":"5a415217dc8072e4","type":"switch","z":"4f871e90.29a61","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":340,"wires":[["ec7a7c4fc1be7da4"],["2ed2b2d3.0c552e"]]},{"id":"f53fe7b2806d0f15","type":"api-current-state","z":"4f871e90.29a61","name":"guest mode?","server":"79544c2b.6ccc64","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.guest_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":340,"wires":[[],["5a415217dc8072e4"]]},{"id":"1785d494c970a380","type":"delay","z":"4f871e90.29a61","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":240,"wires":[["b53023a6685d9068"]]},{"id":"c1e287b947537975","type":"delay","z":"4f871e90.29a61","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2480,"y":140,"wires":[["a3f085d0a5e82220"]]},{"id":"3bca1f11d10bd3f2","type":"api-call-service","z":"4f871e90.29a61","name":"living room sonos beam night mode","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.sonos_sonos_beam_night_sound"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2570,"y":240,"wires":[[]]},{"id":"0d7f78bb15918f0b","type":"api-call-service","z":"4f871e90.29a61","name":"living room sonos beam night mode","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.sonos_sonos_beam_night_sound"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2570,"y":380,"wires":[[]]},{"id":"65406c94bc8f4f04","type":"api-call-service","z":"fbed070118aafd67","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.home_away"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":940,"y":420,"wires":[[]]},{"id":"51dc90b31cf18aed","type":"server-state-changed","z":"fbed070118aafd67","name":"home status","server":"79544c2b.6ccc64","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.mike","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":470,"y":180,"wires":[["7514ae39e1059570"],["bba2dbe597b91bec"]]},{"id":"7514ae39e1059570","type":"api-call-service","z":"fbed070118aafd67","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.home_away"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":940,"y":180,"wires":[[]]},{"id":"bba2dbe597b91bec","type":"delay","z":"fbed070118aafd67","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":600,"y":420,"wires":[["06ab821bbccbfd5e"]]},{"id":"06ab821bbccbfd5e","type":"ha-wait-until","z":"fbed070118aafd67","name":"","server":"79544c2b.6ccc64","version":2,"outputs":2,"entityId":"person.mike","entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"Home","valueType":"str","timeout":"10","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":720,"y":420,"wires":[["65406c94bc8f4f04"],[]]},{"id":"6adb6dad1809711c","type":"inject","z":"88965fe6e95d05d9","name":"","props":[{"p":"payload"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":320,"wires":[["7fe5249d26bd9cf6"]]},{"id":"29d109fb3bd0fa2d","type":"ha-get-entities","z":"88965fe6e95d05d9","name":"get devices","server":"79544c2b.6ccc64","version":0,"rules":[{"property":"entity_id","logic":"is","value":"(climate)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1590,"y":160,"wires":[["7f67d9cd86927ffa"]]},{"id":"8f4c1ad0cad49211","type":"function","z":"88965fe6e95d05d9","name":"function","func":"const PRECOOL_TIME = 2 * 60 * 60 * 1000;\nconst NOW = new Date();\nconst monthDayToDate = (monthDay) => {\n    return new Date(`${monthDay}, ${NOW.getFullYear()}`);\n};\nconst hourToDate = (hour) => {\n    return new Date(`Jan 1 ${hour}, ${NOW.getFullYear()}`);\n};\nconst inRange = (date, start, end) => {\n    return date >= start && date <= end;\n};\nclass DateInterval {\n    constructor(start, end) {\n        this.start = monthDayToDate(start);\n        this.end = monthDayToDate(end);\n        if (this.end.getTime() < this.start.getTime()) {\n            this.end.setFullYear(this.end.getFullYear() + 1);\n        }\n    }\n}\nclass ElectricInterval {\n    constructor(start, end, charge) {\n        this.start = hourToDate(start);\n        this.end = hourToDate(end);\n        this.charge = charge;\n    }\n    normalize(date) {\n        const month = date.getMonth();\n        const day = date.getDate();\n        this.start.setMonth(month, day);\n        this.end.setMonth(month, day);\n        if (this.end.getTime() < this.start.getTime()) {\n            if (this.start.getTime() <= date.getTime()) {\n                this.end.setDate(day + 1);\n            }\n            else {\n                this.start.setDate(day - 1);\n            }\n        }\n    }\n    inRange(date) {\n        this.normalize(date);\n        return inRange(date, this.start, this.end);\n    }\n    secondsUntilEnd(date) {\n        this.normalize(date);\n        return (this.end.getTime() - date.getTime()) / 1000;\n    }\n}\nclass Schedule {\n    constructor({ name, dates, on, off, precoolTemp }) {\n        this.name = name;\n        this.dates = dates;\n        this.on = on;\n        this.off = off;\n        this.precoolTemp = precoolTemp;\n    }\n    findDateInInterval(date) {\n        const pred = (v) => v.inRange(date);\n        const inDateRange = inRange(date, this.dates.start, this.dates.end);\n        if (inDateRange) {\n            let ix = this.off.findIndex(pred);\n            if (ix !== -1) {\n                const interval = this.off[ix];\n                return { status: false, interval };\n            }\n            ix = this.on.findIndex(pred);\n            if (ix !== -1) {\n                const interval = this.on[ix];\n                return { status: true, interval };\n            }\n        }\n        return undefined;\n    }\n}\nconst findDateInSchedules = (date, schedules) => {\n    schedules = schedules instanceof Array ? schedules : [schedules];\n    for (const schedule of schedules) {\n        const status = schedule.findDateInInterval(date);\n        if (status !== undefined) {\n            return {\n                schedule,\n                status,\n            };\n        }\n    }\n    return undefined;\n};\nconst createPrecoolPayload = (schedule, status, nextIsOn, delay) => {\n    const precool = !status && delay <= PRECOOL_TIME && nextIsOn;\n    const precoolTemp = precool ? schedule.precoolTemp : undefined;\n    return {\n        precool,\n        precoolTemp,\n    };\n};\nconst createPayload = (date, schedules) => {\n    const pack = (arr) => {\n        return arr.map((x) => String(Number(x))).join(\"\");\n    };\n    const { schedule, status } = findDateInSchedules(date, schedules);\n    const delay = status.interval.secondsUntilEnd(date) * 1000;\n    date.setTime(status.interval.end.getTime() + 1);\n    const nextTimestamp = date.getTime();\n    const { status: nextStatus } = findDateInSchedules(date, schedule);\n    const nextIsOn = nextStatus.status;\n    const { precool, precoolTemp } = createPrecoolPayload(schedule, status.status, nextIsOn, delay);\n    const action = pack([status.status, precool]);\n    const payload = {\n        status: status.status,\n        nextTimestamp,\n        delay,\n        action,\n        precoolTemp,\n    };\n    return payload;\n};\nconst summer = new Schedule({\n    name: \"summer\",\n    dates: new DateInterval(\"May 1\", \"Oct 31\"),\n    on: [new ElectricInterval(\"5:00 PM\", \"7:00 PM\", 0.4)],\n    off: [\n        new ElectricInterval(\"6:00 AM\", \"5:00 PM\", 0.08),\n        new ElectricInterval(\"7:00 PM\", \"10:00 PM\", 0.08),\n        new ElectricInterval(\"10:00 PM\", \"6:00 AM\", 0.05),\n    ],\n    precoolTemp: 21,\n});\nconst winter = new Schedule({\n    name: \"winter\",\n    dates: new DateInterval(\"Nov 1\", \"April 30\"),\n    on: [new ElectricInterval(\"6:00 AM\", \"8:00 AM\", 0.4)],\n    off: [\n        new ElectricInterval(\"8:00 AM\", \"10:00 PM\", 0.08),\n        new ElectricInterval(\"10:00 PM\", \"6:00 AM\", 0.05),\n    ],\n    precoolTemp: 20,\n});\nconst schedules = [summer, winter];\n//@ts-ignore\nconst message = msg;\nconst date = new Date(message.timestamp);\nmessage.payload = createPayload(date, schedules);\n//@ts-ignore\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":320,"wires":[["5599af983679917e","a3e1d5e974ef2f9e"]]},{"id":"7e32d3ee149a5bcf","type":"split","z":"88965fe6e95d05d9","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2330,"y":480,"wires":[["82095936896de520"]]},{"id":"82095936896de520","type":"api-call-service","z":"88965fe6e95d05d9","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"{    \"target_temp_high\": 21,    \"target_temp_low\": 21}","dataType":"jsonata","mergeContext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":2490,"y":480,"wires":[["47923c89f24581f9"]]},{"id":"27b72db16ecd895d","type":"ha-get-entities","z":"88965fe6e95d05d9","name":"get devices","server":"79544c2b.6ccc64","version":0,"rules":[{"property":"entity_id","logic":"is","value":"(climate)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1590,"y":480,"wires":[["8f812b2646c02eab"]]},{"id":"d43c8739497083c1","type":"change","z":"88965fe6e95d05d9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"entities","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":480,"wires":[["7e32d3ee149a5bcf"]]},{"id":"4a4171f8412b9df4","type":"change","z":"88965fe6e95d05d9","name":"get cached States","rules":[{"t":"set","p":"payload","pt":"msg","to":"cachedStates","tot":"flow"},{"t":"set","p":"precool","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":320,"wires":[["1aec35e03f0ae9c1"]]},{"id":"1aec35e03f0ae9c1","type":"split","z":"88965fe6e95d05d9","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1750,"y":320,"wires":[["fe9a03f0107ed842"]]},{"id":"fe9a03f0107ed842","type":"api-call-service","z":"88965fe6e95d05d9","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":true,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1870,"y":320,"wires":[["a20e7b3f6c9d57ca"]]},{"id":"9e88a065df8e3796","type":"split","z":"88965fe6e95d05d9","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2330,"y":160,"wires":[["5b639a893df11ddc"]]},{"id":"5b639a893df11ddc","type":"api-call-service","z":"88965fe6e95d05d9","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":true,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2450,"y":160,"wires":[["47923c89f24581f9"]]},{"id":"2b8bc96ae475524e","type":"state-machine","z":"88965fe6e95d05d9","name":"","triggerProperty":"payload.action","triggerPropertyType":"msg","stateProperty":"state","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["start","off","off - precool","on"],"transitions":[{"name":"00","from":"start","to":"off"},{"name":"01","from":"start","to":"off - precool"},{"name":"10","from":"start","to":"on"},{"name":"01","from":"off","to":"off - precool"},{"name":"00","from":"off - precool","to":"off"},{"name":"10","from":"off - precool","to":"on"},{"name":"00","from":"on","to":"off"},{"name":"01","from":"on","to":"off - precool"},{"name":"10","from":"off","to":"on"}],"x":1160,"y":320,"wires":[["80e32670d669551d"]]},{"id":"5599af983679917e","type":"debug","z":"88965fe6e95d05d9","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":480,"wires":[]},{"id":"80e32670d669551d","type":"switch","z":"88965fe6e95d05d9","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"off - precool","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":320,"wires":[["29d109fb3bd0fa2d"],["4a4171f8412b9df4"],["804bec7b259619c8"]]},{"id":"09aa544b07d56c88","type":"change","z":"88965fe6e95d05d9","name":"set cache","rules":[{"t":"set","p":"cachedStates","pt":"flow","to":"cachedStates","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2100,"y":320,"wires":[["47923c89f24581f9"]]},{"id":"47923c89f24581f9","type":"change","z":"88965fe6e95d05d9","name":"","rules":[{"t":"set","p":"prevState","pt":"flow","to":"state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2630,"y":320,"wires":[[]]},{"id":"7588d2d0b659a868","type":"switch","z":"88965fe6e95d05d9","name":"precool?","property":"prevState","propertyType":"flow","rules":[{"t":"eq","v":"off - precool","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1920,"y":220,"wires":[[],["09aa544b07d56c88"]]},{"id":"a20e7b3f6c9d57ca","type":"change","z":"88965fe6e95d05d9","name":"clear cache","rules":[{"t":"set","p":"cachedStates","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":380,"wires":[[]]},{"id":"4f01f533bdf30b2e","type":"change","z":"88965fe6e95d05d9","name":"set precool temp","rules":[{"t":"set","p":"precoolTemp","pt":"msg","to":"payload.precoolTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":480,"wires":[["27b72db16ecd895d"]]},{"id":"832c67c9b37d2552","type":"debug","z":"88965fe6e95d05d9","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1960,"y":560,"wires":[]},{"id":"565ce11da2ae2e1a","type":"debug","z":"88965fe6e95d05d9","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1920,"y":100,"wires":[]},{"id":"7f67d9cd86927ffa","type":"subflow:f03f223ebee4f2c1","z":"88965fe6e95d05d9","name":"","x":1750,"y":160,"wires":[["565ce11da2ae2e1a","7588d2d0b659a868","9e88a065df8e3796"]]},{"id":"8f812b2646c02eab","type":"subflow:f03f223ebee4f2c1","z":"88965fe6e95d05d9","name":"","x":1750,"y":480,"wires":[["d43c8739497083c1","832c67c9b37d2552","0065245d4829dfbc","09aa544b07d56c88"]]},{"id":"0065245d4829dfbc","type":"change","z":"88965fe6e95d05d9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":540,"wires":[["5821f310b86ba3e1"]]},{"id":"804bec7b259619c8","type":"api-current-state","z":"88965fe6e95d05d9","name":"away?","server":"79544c2b.6ccc64","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.home_away","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1270,"y":480,"wires":[[],["4f01f533bdf30b2e"]]},{"id":"5821f310b86ba3e1","type":"api-call-service","z":"88965fe6e95d05d9","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_fff","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Precooling house!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":2700,"y":540,"wires":[[]]},{"id":"7fe5249d26bd9cf6","type":"delay","z":"88965fe6e95d05d9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":530,"y":320,"wires":[["8f4c1ad0cad49211"]]},{"id":"a3e1d5e974ef2f9e","type":"change","z":"88965fe6e95d05d9","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"payload.delay","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":320,"wires":[["2b8bc96ae475524e"]]},{"id":"587d8b4e.0cbfec","type":"api-call-service","z":"98c27ff6.35533","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_fff","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{ payload }}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":260,"wires":[[]]},{"id":"3c30a8fb.902b6","type":"server-state-changed","z":"98c27ff6.35533","name":"front door state","server":"79544c2b.6ccc64","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":260,"wires":[["6d00805d.48533"],["6d00805d.48533"]]},{"id":"6d00805d.48533","type":"function","z":"98c27ff6.35533","name":"","func":"//@ts-expect-error\nconst message = msg;\nconst { entity_id: entityId, attributes, state } = message.data.new_state;\nconst trimSensorName = function (sensorName) {\n    return sensorName.replace(new RegExp(\"sensor\", \"i\"), \"\").trim().toLowerCase();\n};\nconst getTimeString = function () {\n    const timeObject = new Date(Date.now());\n    const options = {\n        year: \"numeric\",\n        month: \"long\",\n        day: \"numeric\",\n        weekday: \"long\",\n        hour: \"numeric\",\n        minute: \"numeric\",\n        second: \"numeric\",\n        hour12: false,\n        timeZone: \"America/New_York\"\n    };\n    const locale = \"en-US\";\n    return timeObject.toLocaleString(locale, options);\n};\nconst doorName = trimSensorName(attributes.friendly_name);\nconst doorState = message.payload === \"on\" ? \"opened\" : \"closed\";\nconst time = getTimeString();\nconst payload = Object.assign({ data: {\n        title: `${doorName} was ${doorState}`,\n        message: `The ${doorName} was ${doorState} at ${time}`\n    } }, { doorName, doorState, time, entity_id: entityId });\nmessage.payload = payload;\n//@ts-ignore\nreturn message;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["587d8b4e.0cbfec","8cc40c2c.be66d8","23d3878a.c8f9b"]]},{"id":"8cc40c2c.be66d8","type":"api-call-service","z":"98c27ff6.35533","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_fff2","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{ payload }}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":320,"wires":[[]]},{"id":"f1339518.4ecb68","type":"server-state-changed","z":"98c27ff6.35533","name":"back door state","server":"79544c2b.6ccc64","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.back_door_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":320,"wires":[["6d00805d.48533"],["6d00805d.48533"]]},{"id":"981b52aa.9d16b8","type":"ha-wait-until","z":"98c27ff6.35533","name":"","server":"79544c2b.6ccc64","version":2,"outputs":2,"entityId":"","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":true,"blockInputOverrides":false,"outputProperties":[],"x":440,"y":380,"wires":[[],["95041b08.ec95"]]},{"id":"95041b08.ec95","type":"function","z":"98c27ff6.35533","name":"","func":"//@ts-expect-error\nconst message = msg;\n//@ts-expect-error\nconst { doorName, doorState, time: closeTime } = message.payload;\nconst payload = {\n    data: {\n        title: `${doorName} not closed!`,\n        message: `The ${doorName} hasn't been closed since ${closeTime}!`\n    }\n};\nmessage.payload = payload;\n//@ts-ignore\nreturn message;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":440,"wires":[["587d8b4e.0cbfec","8cc40c2c.be66d8"]]},{"id":"23d3878a.c8f9b","type":"switch","z":"98c27ff6.35533","name":"","property":"payload.doorState","propertyType":"msg","rules":[{"t":"eq","v":"opened","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":320,"wires":[["981b52aa.9d16b8"]]},{"id":"8ff934f.b665cc8","type":"server-state-changed","z":"85bb4851.f21a8","name":"home status","server":"79544c2b.6ccc64","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.mike","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":290,"y":140,"wires":[["8894a9f9.fd4ef"],[]]},{"id":"70750c28.c07b0c","type":"ha-get-entities","z":"85bb4851.f21a8","name":"get lights and switches","server":"79544c2b.6ccc64","version":0,"rules":[{"property":"entity_id","logic":"is","value":"(light|switch)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":810,"y":140,"wires":[["8a3a9be3.6a583"]]},{"id":"8a3a9be3.6a583","type":"split","z":"85bb4851.f21a8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":970,"y":140,"wires":[["3620e144.79ffee"]]},{"id":"8894a9f9.fd4ef","type":"sun events","z":"85bb4851.f21a8","testmode":"N","verbose":"N","topic":"","name":"","x":450,"y":240,"wires":[["82e0676f.eae49"]]},{"id":"82e0676f.eae49","type":"switch","z":"85bb4851.f21a8","name":"is it night?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"night","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":240,"wires":[["70750c28.c07b0c"]]},{"id":"6f763506.c80684","type":"inject","z":"85bb4851.f21a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":40,"wires":[["70750c28.c07b0c","28c227d.52269d8"]]},{"id":"3620e144.79ffee","type":"debug","z":"85bb4851.f21a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":300,"wires":[]},{"id":"94298148.9679a","type":"api-call-service","z":"85bb4851.f21a8","name":"","server":"79544c2b.6ccc64","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_fff","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\": \"{{payload.data}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":1010,"y":40,"wires":[[]]},{"id":"28c227d.52269d8","type":"function","z":"85bb4851.f21a8","name":"","func":"\nconst message = msg;\n\nconst getTimeString = function () {\n    const timeObject = new Date(Date.now());\n    const options = {\n        year: \"numeric\",\n        month: \"long\",\n        day: \"numeric\",\n        weekday: \"long\",\n        hour: \"numeric\",\n        minute: \"numeric\",\n        second: \"numeric\",\n        hour12: false,\n        timeZone: \"America/New_York\"\n    };\n    const locale = \"en-US\";\n    return timeObject.toLocaleString(locale, options);\n};\n\nconst time = getTimeString();\nconst payload = { data: {\n        title: `You're back!`,\n        message: `Device states restored at ${time}. Welcome home.`}\n    \n};\nmessage.payload = payload;\nreturn message;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":80,"wires":[["3620e144.79ffee","94298148.9679a"]]},{"id":"ed72ec182f06d7e0","type":"ha-get-entities","z":"f97ca533678b9087","name":"","server":"79544c2b.6ccc64","version":0,"rules":[{"property":"entity_id","logic":"is","value":"lock.back_door","valueType":"str"},{"property":"entity_id","logic":"is","value":"lock.front_door","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":410,"y":1400,"wires":[["23129490a00d6c54"]]},{"id":"bba47baffb1e39f5","type":"inject","z":"f97ca533678b9087","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1400,"wires":[["ed72ec182f06d7e0"]]},{"id":"23129490a00d6c54","type":"debug","z":"f97ca533678b9087","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1400,"wires":[]}]