node-red/flows.json
[{"id":"4f871e90.29a61","type":"tab","label":"Cache States","disabled":false,"info":""},{"id":"98c27ff6.35533","type":"tab","label":"Doors Status","disabled":false,"info":""},{"id":"85bb4851.f21a8","type":"tab","label":"Rise 'n Shine","disabled":false,"info":""},{"id":"79544c2b.6ccc64","type":"server","name":"Home Assistant","addon":true},{"id":"eed41b44.0c507","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c5c5002.bcdab","type":"server","name":"hassio","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"cf1a8b1e.5bfb5","type":"server","name":"hassio","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"214b25c1.8d3f0a","type":"server","name":"hassio","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"cc2ae6f9.bf95f","type":"server","name":"hassio","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"11b1a6e9.59fe11","type":"server","name":"Home Assistant"},{"id":"aacec64e.aa1d48","type":"change","z":"4f871e90.29a61","name":"get cached States","rules":[{"t":"set","p":"payload","pt":"msg","to":"cachedStates","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":620,"wires":[["ff4ac2d6.2746f"]]},{"id":"ff4ac2d6.2746f","type":"split","z":"4f871e90.29a61","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1310,"y":620,"wires":[["45f413bc.da9e04"]]},{"id":"45f413bc.da9e04","type":"api-call-service","z":"4f871e90.29a61","name":"restore state","server":"79544c2b.6ccc64","version":3,"debugenabled":false,"service_domain":"msg.payload.domain","service":"msg.payload.service","entityId":"msg.payload.data.entity_id","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1530,"y":620,"wires":[[]]},{"id":"14303710.68aa19","type":"function","z":"4f871e90.29a61","name":"cache house state","func":"//@ts-expect-error\nconst message = msg;\nconst entities = message.payload;\n/**\n * Maps an input entity's domain to an appropriate service for\n * later caching.\n *\n * light -> turn_[on, off], for example.\n *\n * @param entity input hass entity.\n * @param domain domain thereof.\n */\nconst mapDomainToService = function (entity, domain) {\n    switch (domain) {\n        case \"switch\":\n        case \"light\":\n        case \"fan\": {\n            return `turn_${entity.state}`;\n        }\n        case \"media_player\": {\n            switch (entity.state) {\n                case \"standby\":\n                case \"off\":\n                    return \"turn_off\";\n                case \"on\":\n                    return \"turn_on\";\n                case \"playing\":\n                    return \"media_play\";\n                case \"paused\":\n                    return \"media_pause\";\n                default:\n                    return \"turn_off\";\n            }\n        }\n        case \"climate\": {\n            return \"set_temperature\";\n        }\n        case \"lock\": {\n            switch (entity.state) {\n                case \"locked\":\n                    return \"lock\";\n                case \"unlocked\":\n                    return \"unlock\";\n            }\n        }\n        default: {\n            return \"turn_off\";\n        }\n    }\n};\n// create the cached state object that will be saved to the global flow.\nconst cachedStates = entities.map((e) => {\n    const domain = e.entity_id.split(\".\")[0];\n    const service = mapDomainToService(e, domain);\n    const state = {\n        domain: domain,\n        service: service,\n        data: {\n            entity_id: e.entity_id\n        }\n    };\n    return state;\n});\n/* creates a set of away states that we'll entry once our away condition is met within hass.\n * For example, we turn off all of the cached lights and switches, and turn on all the fans to low.\n */\nconst awayPayload = cachedStates.map((state) => {\n    const { domain } = state;\n    const { entity_id } = state.data;\n    const payload = { domain, data: { entity_id } };\n    switch (domain) {\n        case \"switch\":\n        case \"light\": {\n            payload[\"service\"] = \"turn_off\";\n            break;\n        }\n        case \"fan\": {\n            payload[\"service\"] = \"turn_on\";\n            payload.data[\"speed\"] = \"low\";\n            break;\n        }\n        case \"climate\": {\n            payload[\"service\"] = \"set_preset_mode\";\n            payload.data[\"preset_mode\"] = \"away\";\n            break;\n        }\n        case \"lock\": {\n            payload[\"service\"] = \"lock\";\n            break;\n        }\n        default: {\n            break;\n        }\n    }\n    return payload;\n});\n//@ts-ignore\n// cache the states!\nflow.set(\"cachedStates\", cachedStates);\n// the next node will execute this payload.\nmessage.payload = awayPayload;\n//@ts-ignore\nreturn message;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":840,"wires":[["903042a6.670338"]]},{"id":"2ed2b2d3.0c552e","type":"ha-get-entities","z":"4f871e90.29a61","name":"get devices","server":"79544c2b.6ccc64","version":0,"rules":[{"property":"entity_id","logic":"is","value":"(light|switch|fan)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1150,"y":840,"wires":[["14303710.68aa19"]]},{"id":"1bf3815d.70d157","type":"api-call-service","z":"4f871e90.29a61","name":"toggle off","server":"79544c2b.6ccc64","version":3,"debugenabled":false,"service_domain":"msg.payload.domain","service":"msg.payload.service","entityId":"msg.payload.data.entity_id","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1760,"y":840,"wires":[[]]},{"id":"903042a6.670338","type":"split","z":"4f871e90.29a61","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1590,"y":840,"wires":[["1bf3815d.70d157"]]},{"id":"5d075e2e.1f3bd8","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_away","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":900,"y":900,"wires":[["2ed2b2d3.0c552e","25fc65fef014b0bf","3c5004c3947325ac"]]},{"id":"17890fed.b998b8","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_away","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":900,"y":620,"wires":[["aacec64e.aa1d48","4251ab4f04bf7b53","89d96167cc9d1f8f"]]},{"id":"b66b3e87.d1cee","type":"server-state-changed","z":"4f871e90.29a61","name":"home status","server":"79544c2b.6ccc64","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.mike","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":640,"wires":[["17890fed.b998b8"],["bd2c897a.02d8f"]]},{"id":"9fb8d2b1.bc6ae8","type":"ha-wait-until","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":0,"outputs":2,"entityId":"","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":"10","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":false,"x":540,"y":900,"wires":[[],["5d075e2e.1f3bd8"]]},{"id":"bd2c897a.02d8f","type":"change","z":"4f871e90.29a61","name":"set entity_id","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":900,"wires":[["9fb8d2b1.bc6ae8"]]},{"id":"25fc65fef014b0bf","type":"ha-get-entities","z":"4f871e90.29a61","name":"get locks","server":"79544c2b.6ccc64","version":0,"rules":[{"property":"entity_id","logic":"is","value":"(lock)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1140,"y":940,"wires":[["52444401d856d55c"]]},{"id":"52444401d856d55c","type":"split","z":"4f871e90.29a61","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1250,"y":940,"wires":[["50c91c32dc7147ec"]]},{"id":"e22b9fc4179ce238","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":3,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"{{data.entity_id}}","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1560,"y":940,"wires":[[]]},{"id":"3c5004c3947325ac","type":"ha-get-entities","z":"4f871e90.29a61","name":"get locks","server":"79544c2b.6ccc64","version":0,"rules":[{"property":"entity_id","logic":"is","value":"(cover)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1140,"y":1040,"wires":[["c821e3f06fa1b128"]]},{"id":"c821e3f06fa1b128","type":"split","z":"4f871e90.29a61","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1250,"y":1040,"wires":[["dce0556fd0c2fe2e"]]},{"id":"4699931917df78ba","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"{{data.entity_id}}","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1600,"y":1040,"wires":[[]]},{"id":"a24b319e59434d2b","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":3,"debugenabled":false,"service_domain":"lock","service":"unlock","entityId":"lock.back_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":440,"wires":[[]]},{"id":"e052f903b9b9094c","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":3,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.garage_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":520,"wires":[[]]},{"id":"89d96167cc9d1f8f","type":"api-current-state","z":"4f871e90.29a61","name":"back door state","server":"79544c2b.6ccc64","version":3,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","entity_id":"lock.back_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1160,"y":440,"wires":[["a24b319e59434d2b"],[]]},{"id":"4251ab4f04bf7b53","type":"api-current-state","z":"4f871e90.29a61","name":"cover state","server":"79544c2b.6ccc64","version":3,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.garage_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1150,"y":520,"wires":[["e052f903b9b9094c"],[]]},{"id":"50c91c32dc7147ec","type":"api-current-state","z":"4f871e90.29a61","name":"lock state","server":"79544c2b.6ccc64","version":3,"outputs":2,"halt_if":"unlocked","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{payload.entity_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1420,"y":940,"wires":[["e22b9fc4179ce238"],[]]},{"id":"dce0556fd0c2fe2e","type":"api-current-state","z":"4f871e90.29a61","name":"cover state","server":"79544c2b.6ccc64","version":3,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{payload.entity_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1430,"y":1040,"wires":[["4699931917df78ba"],[]]},{"id":"38e062f2f7811c98","type":"ha-get-entities","z":"4f871e90.29a61","name":"get locks","server":"79544c2b.6ccc64","version":0,"rules":[{"property":"entity_id","logic":"is","value":"(lock)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":100,"y":1040,"wires":[["c4e65ada4b62a9b3"]]},{"id":"c4e65ada4b62a9b3","type":"split","z":"4f871e90.29a61","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":1040,"wires":[["3fceee5b7e9ec706","35c7d650206b2131"]]},{"id":"b0ec617dc94c28d9","type":"inject","z":"4f871e90.29a61","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":940,"wires":[["38e062f2f7811c98"]]},{"id":"3fceee5b7e9ec706","type":"debug","z":"4f871e90.29a61","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":1140,"wires":[]},{"id":"bad7d93acd9cb15e","type":"api-call-service","z":"4f871e90.29a61","name":"","server":"79544c2b.6ccc64","version":3,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"{{payload.entity_id}}","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":1040,"wires":[[]]},{"id":"35c7d650206b2131","type":"api-current-state","z":"4f871e90.29a61","name":"lock state","server":"79544c2b.6ccc64","version":3,"outputs":2,"halt_if":"unlocked","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{payload.entity_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":1040,"wires":[["bad7d93acd9cb15e"],[]]},{"id":"587d8b4e.0cbfec","type":"api-call-service","z":"98c27ff6.35533","name":"","server":"79544c2b.6ccc64","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_fff","entityId":"","data":"{\"message\":\"{{ payload }}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":990,"y":260,"wires":[[]]},{"id":"3c30a8fb.902b6","type":"server-state-changed","z":"98c27ff6.35533","name":"front door state","server":"79544c2b.6ccc64","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":260,"wires":[["6d00805d.48533"],["6d00805d.48533"]]},{"id":"6d00805d.48533","type":"function","z":"98c27ff6.35533","name":"","func":"//@ts-expect-error\nconst message = msg;\nconst { entity_id: entityId, attributes, state } = message.data.new_state;\nconst trimSensorName = function (sensorName) {\n    return sensorName.replace(new RegExp(\"sensor\", \"i\"), \"\").trim().toLowerCase();\n};\nconst getTimeString = function () {\n    const timeObject = new Date(Date.now());\n    const options = {\n        year: \"numeric\",\n        month: \"long\",\n        day: \"numeric\",\n        weekday: \"long\",\n        hour: \"numeric\",\n        minute: \"numeric\",\n        second: \"numeric\",\n        hour12: false,\n        timeZone: \"America/New_York\"\n    };\n    const locale = \"en-US\";\n    return timeObject.toLocaleString(locale, options);\n};\nconst doorName = trimSensorName(attributes.friendly_name);\nconst doorState = message.payload === \"on\" ? \"opened\" : \"closed\";\nconst time = getTimeString();\nconst payload = Object.assign({ data: {\n        title: `${doorName} was ${doorState}`,\n        message: `The ${doorName} was ${doorState} at ${time}`\n    } }, { doorName, doorState, time, entity_id: entityId });\nmessage.payload = payload;\n//@ts-ignore\nreturn message;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["587d8b4e.0cbfec","8cc40c2c.be66d8","23d3878a.c8f9b"]]},{"id":"8cc40c2c.be66d8","type":"api-call-service","z":"98c27ff6.35533","name":"","server":"79544c2b.6ccc64","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_fff2","entityId":"","data":"{\"message\":\"{{ payload }}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":320,"wires":[[]]},{"id":"f1339518.4ecb68","type":"server-state-changed","z":"98c27ff6.35533","name":"back door state","server":"79544c2b.6ccc64","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.back_door_open","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":320,"wires":[["6d00805d.48533"],["6d00805d.48533"]]},{"id":"981b52aa.9d16b8","type":"ha-wait-until","z":"98c27ff6.35533","name":"","server":"79544c2b.6ccc64","version":0,"outputs":2,"entityId":"","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":false,"x":440,"y":380,"wires":[[],["95041b08.ec95"]]},{"id":"95041b08.ec95","type":"function","z":"98c27ff6.35533","name":"","func":"//@ts-expect-error\nconst message = msg;\n//@ts-expect-error\nconst { doorName, doorState, time: closeTime } = message.payload;\nconst payload = {\n    data: {\n        title: `${doorName} not closed!`,\n        message: `The ${doorName} hasn't been closed since ${closeTime}!`\n    }\n};\nmessage.payload = payload;\n//@ts-ignore\nreturn message;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":440,"wires":[["587d8b4e.0cbfec","8cc40c2c.be66d8"]]},{"id":"23d3878a.c8f9b","type":"switch","z":"98c27ff6.35533","name":"","property":"payload.doorState","propertyType":"msg","rules":[{"t":"eq","v":"opened","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":320,"wires":[["981b52aa.9d16b8"]]},{"id":"8ff934f.b665cc8","type":"server-state-changed","z":"85bb4851.f21a8","name":"home status","server":"79544c2b.6ccc64","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.mike","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":290,"y":140,"wires":[["7e2f3c81.d2b454","8894a9f9.fd4ef"],[]]},{"id":"7e2f3c81.d2b454","type":"timecheck","z":"85bb4851.f21a8","name":"is it 8 AM?","time":"08:00","x":470,"y":140,"wires":[["70750c28.c07b0c"],[]]},{"id":"70750c28.c07b0c","type":"ha-get-entities","z":"85bb4851.f21a8","name":"get lights and switches","server":"79544c2b.6ccc64","rules":[{"property":"entity_id","logic":"is","value":"(light|switch)\\..*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":810,"y":140,"wires":[["8a3a9be3.6a583"]]},{"id":"8a3a9be3.6a583","type":"split","z":"85bb4851.f21a8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":970,"y":140,"wires":[["3620e144.79ffee"]]},{"id":"8894a9f9.fd4ef","type":"sun events","z":"85bb4851.f21a8","testmode":"N","verbose":"N","topic":"","name":"","x":460,"y":240,"wires":[["82e0676f.eae49"]]},{"id":"82e0676f.eae49","type":"switch","z":"85bb4851.f21a8","name":"is it night?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"night","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":240,"wires":[["70750c28.c07b0c"]]},{"id":"6f763506.c80684","type":"inject","z":"85bb4851.f21a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":40,"wires":[["70750c28.c07b0c","28c227d.52269d8"]]},{"id":"3620e144.79ffee","type":"debug","z":"85bb4851.f21a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":300,"wires":[]},{"id":"94298148.9679a","type":"api-call-service","z":"85bb4851.f21a8","name":"","server":"79544c2b.6ccc64","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_fff","entityId":"","data":"{ \"message\": \"{{payload.data}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"payload","output_location_type":"msg","x":1010,"y":40,"wires":[[]]},{"id":"28c227d.52269d8","type":"function","z":"85bb4851.f21a8","name":"","func":"\nconst message = msg;\n\nconst getTimeString = function () {\n    const timeObject = new Date(Date.now());\n    const options = {\n        year: \"numeric\",\n        month: \"long\",\n        day: \"numeric\",\n        weekday: \"long\",\n        hour: \"numeric\",\n        minute: \"numeric\",\n        second: \"numeric\",\n        hour12: false,\n        timeZone: \"America/New_York\"\n    };\n    const locale = \"en-US\";\n    return timeObject.toLocaleString(locale, options);\n};\n\nconst time = getTimeString();\nconst payload = { data: {\n        title: `You're back!`,\n        message: `Device states restored at ${time}. Welcome home.`}\n    \n};\nmessage.payload = payload;\nreturn message;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":80,"wires":[["3620e144.79ffee","94298148.9679a"]]}]